.our_package{ color: #0A0826;}
.card_heading{
    color: #231D4F;
    font-weight: 700;
}
.button{
    font-weight: 700;
    color: #3F87F5;
    background-color: #fef5fa;
}
.button:hover{
    font-weight: 700;
    color: #3F87F5;
}
.card_custom{
    background-color: #3F87F5;
    border-radius: 24px;
}
.card-paragraph{ color: #848199;}
.fa-check-circle{
    color: #5243C2;
    /* background: rgba(82, 67, 194, 0.103693); */
}
.fa-check-circle span{ color: #848199;}
/* ------------ frequently asked questions ---------- */
.frequently_asked{
    color: #0D0925;
    font-weight: 600;
}
.footer_bg{ background-color: #0B0D17;}